/* div{
    height: 100px;
    width: 100px;
    border: 5px;
    background-color: red;
} */



.dark {
    background-color: black;
    color: white;

}


.light {
    background-color: white;
    color: black;
}